.hero{
  display: flex;
  flex-direction: column; /* Располагаем элементы по колонке */
  align-items: center;
}

.video-preview{
  cursor:pointer;
  width:500px;
  height:350px;
  padding:20px;
  border: 10px dotted pink;
}

.video-title{
  font-size: 14px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0px;
  line-height: 20px;
 
}

.thumbnail{
  object-fit: cover;
  height: 280px;
  width: 100%;
}

.video-title-link {
  text-decoration: none;
  color: black;
}

.video-info-grid{
  position:relative;
  
}


.profile-picture{
  width:47px;
  border-radius: 50px;
}

.channel-picture{
  vertical-align: top;
  display:inline-block;
  max-width:60px;
}
.video-info{
  display:inline-block;
  width:300px;
}
.video-info,
.thumbnail-row{
  cursor:pointer;
}

.thumbnail-row{
  margin-bottom:8px;
  position:relative;
}


.video-author{
  margin: 4px 0;
  font-size:12px;
  color:grey;
}

.video-grid{
  display:flex;
  justify-content: center;
}

.video-time{
  font-size:12px;
  font-weight:500;
  background-color:black;
  color:white;
  position:absolute;
  bottom:8px;
  right:5px;
  padding:4px;
  border-radius:2px;
}